SOFSEM2014/FinalVersion/main.pdf
SOFSEM2014/FinalVersion/main.thm
SOFSEM2014/FinalVersion/pisodm.log
SOFSEM2014/FinalVersion/main.dvi
SOFSEM2014/FinalVersion/main.log
JournalToSubmit2013/main.aux
JournalToSubmit2013/main.bbl
JournalToSubmit2013/main.blg
JournalToSubmit2013/main.log
JournalToSubmit2013/main.pdf
JournalToSubmit2013/main.spl
JournalToSubmit2013/main.synctex.gz
SOFSEM2014/FinalVersion/main.blg
SOFSEM2014/FinalVersion/main.bbl
Survey map-reduce languages/papers/tmp
SOFSEM2014/FinalVersion/introduction.log
SOFSEM2014/FinalVersion/main.aux
SOFSEM2014/FinalVersion/main.synctex.gz
*.bak
main.thm
main.aux
