SOFSEM2014/FinalVersion/main.pdf
SOFSEM2014/FinalVersion/main.thm
SOFSEM2014/FinalVersion/pisodm.log
SOFSEM2014/FinalVersion/main.dvi
SOFSEM2014/FinalVersion/main.log
JournalToSubmit2013/main.aux
JournalToSubmit2013/main.bbl
JournalToSubmit2013/main.blg
JournalToSubmit2013/main.log
JournalToSubmit2013/main.pdf
JournalToSubmit2013/main.spl
JournalToSubmit2013/main.synctex.gz
SOFSEM2014/FinalVersion/main.blg
SOFSEM2014/FinalVersion/main.bbl
Survey map-reduce languages/papers/tmp
SOFSEM2014/FinalVersion/introduction.log
SOFSEM2014/FinalVersion/main.aux
SOFSEM2014/FinalVersion/main.synctex.gz
*.bak
main.thm
main.aux
main.dvi
CM_Track2013/src/paperCM_tosubmit.aux
CM_Track2013/src/paperCM_tosubmit.log
CM_Track2013/src/paperCM_tosubmit.out
CM_Track2013/src/paperCM_tosubmit.pdf
RE_Track2013/src/paperRE_tosubmit.aux
RE_Track2013/src/paperRE_tosubmit.log
RE_Track2013/src/paperRE_tosubmit.pdf
SBCARS2013/src/index.aux
SBCARS2013/src/index.log
SBCARS2013/src/index.out
SBCARS2013/src/index.pdf
SOAP_Track2013/src/paperSOAP_tosubmit.aux
SOAP_Track2013/src/paperSOAP_tosubmit.log
SOAP_Track2013/src/paperSOAP_tosubmit.pdf
WEH2012/src/weh'12.aux
WEH2012/src/weh'12.log
WEH2012/src/weh'12.pdf
WESOA2013/source/paper.aux
WESOA2013/source/paper.log
WESOA2013/source/paper.pdf
WESOA2013/source/paperSOAP_tosubmit.log
piPewsModel.tex.aux
JournalToSubmit2014/main.bbl
JournalToSubmit2014/main.blg
JournalToSubmit2014/main.log
JournalToSubmit2014/main.pdf
JournalToSubmit2014/main.spl
JournalToSubmit2015/intro.log
JournalToSubmit2015/main.bbl
JournalToSubmit2015/main.blg
JournalToSubmit2015/main.log
JournalToSubmit2015/main.pdf
JournalToSubmit2015/relworks.log
JournalToSubmit2015/SubmisionConfirmation.pdf
JournalToSubmit2015/svglov3.clo
JournalToSubmit2015/svjour3.cls
JournalToSubmit2015/transformationRules.log
JournalToSubmit2015/ijseke-2e/ijsekef1-eps-converted-to.pdf
JournalToSubmit2015/ijseke-2e/ws-ijseke.aux
JournalToSubmit2015/ijseke-2e/ws-ijseke.log
JournalToSubmit2015/submitted/main.bbl
JournalToSubmit2015/submitted/main.blg
JournalToSubmit2015/submitted/main.log
JournalToSubmit2015/submitted/main.pdf
JCST_Confirmation.pdf
JournalToSubmit2015/JCST-Template-submit/template.aux
JournalToSubmit2015/JCST-Template-submit/template.dvi
JournalToSubmit2015/JCST-Template-submit/template.log
JournalToSubmit2015/OldVersion/main.bbl
JournalToSubmit2015/OldVersion/main.blg
JournalToSubmit2015/OldVersion/main.log
JournalToSubmit2015/OldVersion/main.pdf
JournalToSubmit2015/OldVersion/relworks.log
JournalToSubmit2015/OldVersion/SubmisionConfirmation.pdf
JournalToSubmit2015/OldVersion/svglov3.clo
JournalToSubmit2015/OldVersion/svjour3.cls
JournalToSubmit2015/OldVersion/transformationRules.log
JournalToSubmit2015/submitted/gbk49.tfm
JournalToSubmit2015/submitted/missfont.log
JournalToSubmit2015/submitted/x.log
